.task-editor-body{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  text-align: left;
}

.task-editor-body label {
  width: 80%;
  padding: 16px 4px 4px;
}

.task-editor-body button {
  margin-top: 16px;
}
